<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign Up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upper">
    <div class="icon">
      <img src="../../assets/icon/logo.png" alt="logo-z" />
    </div>
    <div class="title">
      <p id="login">Zek Shoes</p>
    </div>
  </div>

  <div class="middle">
    <div class="box">
      <form #loginForm="ngForm">
        <p>Please Login to Your Account</p>

        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input
            type="email"
            aria-placeholder="Email Address"
            name="email"
          ></ion-input>
          <ion-icon
            class="ion-align-self-center"
            slot="end"
            name="mail"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="{{ hidePassword ? 'password' : 'text' }}"
            aria-placeholder="Password"
            name="password"
          ></ion-input>
          <ion-icon
            class="ion-align-self-center"
            slot="end"
            name="{{ hidePassword ? 'eye-outline' : 'eye-off-outline' }}"
            (click)="togglePassword()"
          ></ion-icon>
        </ion-item>

        <p id="donthaveAccount">
          Don't have an account? <a routerLink="/signup">Sign Up</a>
        </p>

        <div class="btn">
          <ion-button>Login</ion-button>
        </div>
      </form>

      <p id="media">Or Login using Social Media</p>

      <div class="socialMedia">
        <ion-button expand="block" color="danger">
          <ion-icon name="logo-google"></ion-icon>
          <span class="button-text">Continue with Google</span>
        </ion-button>
        <ion-button expand="block" color="primary">
          <ion-icon name="logo-facebook"></ion-icon>
          <span class="button-text">Continue with Facebook</span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
